{% extends "index.html" %}

{% block title %}All Categories{% endblock %}

{% block content %}
<div class="content">
    <div class="content-wrapper">
        <div class="breadcrumbs">-|<a href="/"> Home </a>> Categories |-</div>
        <div class="content-container">
            <h1>Check out ALL these categories!</h1>
            <ul class="category-container">
                <li><a href="/ages">Ages</a></li>
                <li><a href="/races">Races</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/titles">Titles</a></li>
                <li><a href="/traits">Traits</a></li>
                <li><a href="/backstories">Backstories</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}